<template>
  <div id="app">
    <form
      v-on:submit.prevent="submit"
    >
      <label>
        <span>{{ getName }}</span>
        <input type="text" placeholder="Имя"
          v-bind:value="getName"
          v-on:input="onNameInput($event.target.value)"
        >
      </label>
      
      <label>
        <span>{{ getAge }}</span>
        <input type="text" placeholder="Возраст"
          v-bind:value="getAge"
          v-on:input="onAgeInput($event.target.value)"
        >
      </label>
      
      <label>
        <span>{{ getCity }}</span>
        <input type="text" placeholder="Город"
          v-bind:value="getCity"
          v-on:input="onCityInput($event.target.value)"
        >
      </label>

      <button type="submit">Добавить</button>
    </form>

    <div
      v-for="(user, key) of getAllUsers"
      v-bind:key="key"
    >
      <div>
        <span>Человеку <b>{{ user.name }}</b> из <b>{{ user.city }}</b> уже <b>{{ user.age }}</b> лет</span>
        <button type="button"
          v-on:click="deleteUser(user.name)"
        >
          <span>Удалить</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    mounted() {
      this.generateUsers()
    },

    methods: {
      ...mapActions([ 'generateUsers', 'deleteUser' ]),
      ...mapActions([ 'onNameInput', 'onAgeInput', 'onCityInput', 'submit' ]),
    },

    computed: {
      ...mapGetters([ 'getAllUsers' ]),
      ...mapGetters([ 'getName', 'getAge', 'getCity' ]),
    }
  }
</script>
